<!doctype html>

<html lang="en">

<head>
  {%block head%}
  <meta charset="utf-8">

  <title>New York Burger Day</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
 
{%endblock%}
</head>

<body>
    {%block body%}

        <div class="container">
            <h1>Hello World</h1>

        </div>


    {%endblock%}

</body>

</html>